body {
  margin: 0;
  display: grid;
  grid-template-columns: 84px repeat(10, 1fr) 84px; /* 10 columns with margins */
  grid-column-gap: 42px; /* Gutter between columns */
  grid-row-gap: 84px; /* Gutter between rows */
  height: 100vh;
  align-items: start; /* Align items to the start of the container */
  max-height: 100vh; /* Adjust based on your layout */
  overflow-x: hidden; /* Prevent scrolling on the body itself */
  overflow-y: auto; /* Allow vertical scrolling */
}

html {
  scroll-behavior: smooth;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='14' y='14' width='1' height='1' fill='%23ccc' fill-opacity='1' /%3E%3C/svg%3E");
  background-repeat: repeat;
  background-color: #fff;

  z-index: -1; /* Ensure it's behind all other content */
}

.navbar {
  position: fixed; /* Make navbar fixed */
  display: flex; /* Make navbar a flex container */
  justify-content: center; /* Center children vertically */
  grid-column: 9 / 12;
  right: 0; /* Start fully visible */
  top: 0;
  width: 250px;
  height: 100vh;
  z-index: 1; /* Ensure navbar is above the fixed background */
  background: 
    linear-gradient(487deg, rgba(208, 74, 255, 0.24) 8.26%, rgba(230, 209, 238, 0.01) 119.32%),
    #fff;
}

.navbar-inner {
  display: block;
  padding: 10px 0px 10px 20px;
  z-index: 3; /* Ensure it's above the navbar content */
  position: relative;
  max-height: 500px;
  display: flex;
  align-items: flex-end; /* Centers children (links) horizontally in a column layout */
  justify-content: center;
  width: 250px;
  height: 40vh;
  overflow: hidden;
  flex-direction: column;
  color: var(--highlight, #640ED2);
  will-change: transform; /* Optimizes animations */
  transform: translate(0, 43.39vh);
  transition: transform 0.3s ease-out; 

}

.navbar::after {
  content: "";
  position: absolute;
  top: 50%; /* Center vertically */
  right: 0px; /* Position outside the navbar, adjust as needed */
  transform: translateY(-50%); /* Adjust for exact centering */
  width: 48px; /* Width of the pointer */
  height: 32px; /* Height of the pointer, adjust based on design */
  background-color: #9056DB; /* Purple color, adjust as needed */
  z-index: 2; /* Ensure it's above the navbar content */
  background: var(--highlight, #640ED2);
}

.navbar-handle {
  position: absolute;
  left: -5px; /* Adjust if needed to ensure the handle is always accessible */
  top: 15%;
  width: 10px;
  height: 70vh;
  background-color: #640ED2;
  z-index: 1000; /* Above the navbar content */
}

.navbar-inner a {
  color: #9056DB;
  text-decoration: none; /* Optional: removes underline from links */
  margin-right: 84px; /* Adjust the value as needed to create the desired gap */
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

.subpage {
  padding-right: 10px;
  line-height: 28px !important;
  font-weight: 500 !important;
}

.navbar-inner a:hover {
  color: #640ED2;
}

.navbar-inner a.active {
  color: #640ED2; /* Example active link color */
}

.content {
  box-sizing: border-box;
  height: 100vh;
  padding: 84px; /* This will automatically center the content */
  width: calc(100vw - 250px); /* Adjust width calculation as needed */
  grid-column: 1 / 2;
  position: relative; /* Ensure content is scrollable over the fixed background */
  z-index: 0; /* Ensure content scrolls under the navbar */
}

.content img {
  max-width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
}

.intro {
  max-width: 590px; /* Maximum width .intro can expand to */
  width: 100%; /* .intro width relative to its parent container */
  margin-bottom: 20px; /* Add some space below the intro text */
}

/* Wrapper for the iframe to maintain aspect ratio */
.iframe-wrapper {
  position: relative;
  width: 100%; /* Fill the available container width */
  padding-bottom: 75%; /* Aspect ratio: 16:9 (height/width * 100) */
  height: 0;
  overflow: hidden;
}

/* Style for the iframe */
.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; /* Remove border */
}

#landing {
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  grid-column-gap: 42px; /* Gutter between columns */
  grid-row-gap: 84px; /* Gutter between rows */
  margin-top: 20px;
  margin-bottom: 84px
}

#landing .date {
  font-size: 14px;
  font-weight: 300;
  color: #43254E;
  margin-top: 8px; 
  display: block; 
}

#landing .image {
  grid-column: 5 / 9; 
  max-width: 100%;
  height: auto;
} 

#designstudio {
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  grid-column-gap: 42px; /* Gutter between columns */
  grid-row-gap: 84px; /* Gutter between rows */
  margin-top: 20px;
  margin-bottom: 84px
}

#designstudio .date {
  font-size: 14px;
  font-weight: 300;
  color: #43254E;
  margin-top: 8px; 
  display: block; 
}

#designstudio .image {
  grid-column: 5 / 9; 
  max-width: 100%;
  height: auto;
} 

.title {
  padding-top: 84px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--highlight, #640ED2);
}

.subtitle {
  grid-column: 1 / 11; /* Span all columns */
  padding-left: 21px;
  margin-top: 21px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  color: var(--highlight, #640ED2);
}

p {
  margin: 0;
  color: var(--text, #43254E);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
}

.date {
  font-size: 14px;
  font-weight: 300;
  color: #43254E;
  margin-top: 8px; /* Optional: Add some space above the date */
  display: block; /* Ensure it behaves like a block element */
}

.highlight {
  color: var(--highlight, #640ED2);
}

footer, footer a {
  font-size: 12px;
  color: #999;
  text-align: center;
  padding: 200px 0 30px 0;
}